.Sidebar {
  background: burlywood;
  display: flex;
  flex-direction: column;
  padding: 100px 50px;
  text-align: center;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 20px 0;

      a {
        text-decoration: none;
        color: black;

        &:hover {
          color: black;
        }
      }
    }
  }

  .logo {
    font-family: 'Miniver', cursive;
    font-size: 2rem;
  }
}
