.ProjectThumbnail {
  // height: 500px; set based on bg image size
  // width: 500px; set based on bg image size
  margin: 0 0;
  position: relative;
  cursor: pointer;

  .bg-image {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: inherit;
    height: inherit;
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }

  .bg-text {
    background-color: rgba(0, 0, 0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: fit-content;
    padding: 20px 50px;
    text-align: center;
  }

  
}

.mytooltip {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 5px;
  pointer-events: none; /* Allows interactions with elements underneath */
  z-index: 300;
  opacity: 0.7;
}