@import url('https://fonts.googleapis.com/css?family=Karla|Miniver&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
    font-family: "Karla", sans-serif;

  // background-color: rgb(235, 229, 205);

  .Container {
    // background-color: blueviolet;  
    margin: 0;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 'Staatliches', cursive;
      font-size: 3.5rem;
      margin: 0;
    }

    .content {
      background: rgb(255, 239, 217);
      padding: 20px;
    }
  }
}
